.page-container {
    background: lighten(#232323, 10%);
    color: rgba(246, 82, 97, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2em;

    span:first-child {
        font-weight: 700;
    }

    .page {
        margin-left: 2em;
    }

    svg {
        margin-left: auto;
        margin-right: 2em;
        cursor: pointer;
    }
}