$white: rgba(250,250,250,0.7);
$card_bg-color: #232323;
$input-color: rgba(35,35,35,0.3);
$layout_bg-color: #555;
$footer_bg-color: lighten($card_bg-color, 10%);
$card_text-color: $white;
$rate-text_color: rgba(33,169,31, 1);
$rate-border-color: $white;
$numbers-color: rgba(246,82,97, 0.9);

$raleway: 'Raleway', sans-serif;